* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    min-height: 80px;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #hamburger{
        border: 0;
    }

    .mycontainer {
        width: 80%;


        nav {
            ul {
                display: flex;
                list-style: none;
                align-items: center;
                gap: 15px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .icons {
            display: flex;
            gap: 15px;
            align-items: center;

            a {
                color: black;
            }
        }

        #hamburger {
            display: none;
        }
    }

    #dropmenu {
        display: none;
        background-color: #000000;
        color: white;
        width: 100%;
        height: auto;
        padding: 20px 15px 0px ;
        ul{
            list-style: none !important;
            padding: 0;
            a{
                color: white;
                text-decoration: none !important;
            }
        }

    }
}


main {
    #welcome {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ECFDFF;

        .welcome-text {
            width: 100%;

            h1 {
                font-size: 40px;
                font-weight: 700;
            }

            p {
                font-size: 15px;
                font-weight: 300;
            }

            button {
                background-image: linear-gradient(45deg, #FF0359, #FF5531);
                border: 0;
                padding: 5px 10px;
                width: 180px;
                height: 55px;
                color: white;
                border-radius: 8px;
            }
        }

        .welcome-banner {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    #product-area {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding: 25px 0px;

        #product__box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: auto;

            .box__item {
                width: 100%;
                max-width: 250px;
                height: 350px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                background-color: #fff8f8;
                position: relative;

                img {
                    width: 100%;
                    max-width: 250px;
                    height: 250px;
                }

                button {
                    color: #000000;
                    background: #f14f85;
                    border: 0;
                    padding: 5px 10px;
                    font-weight: 500;
                }

                i {
                    position: absolute;
                    right: 0px;
                    top: 0;
                    font-size: 25px;
                    color: rgb(255, 114, 114);
                    cursor: pointer;

                    &:hover {
                        color: #ff0303;
                    }

                }
            }
        }
    }

    #best-sellers {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .best-sellers-text {
            display: flex;
            align-items: center;
            gap: 25px;

            h2 {
                font-size: 36px;
                font-weight: 700;
                margin-right: 20px;
            }

            span {
                display: block;
                font-weight: 700;
                font-size: 20px;
                margin-left: 20px;
                opacity: 0.7;
            }
        }

        .best-sellers-product {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #subscribe {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(/assets/img/subscribe_area.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        .subscribe-box {
            display: flex;
            flex-direction: column;
            gap: 35px;

            .subscribe-text {
                display: flex;
                flex-direction: column;
                gap: 15px;

                span {
                    color: #f14f85;
                    font-size: 14px;
                }

                h2 {
                    font-size: 48px;
                    font-weight: 700;
                }
            }

            .subscribe-btns {

                input {
                    width: 30%;
                    height: 45px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    border: 0;
                    outline: none;

                }

                button {
                    background-image: linear-gradient(45deg, #FF0359, #FF5531);
                    border: 0;
                    padding: 5px 10px;
                    width: 180px;
                    height: 55px;
                    color: white;
                    border-radius: 8px;
                }
            }
        }
    }

    #brands {
        width: 100%;
        min-height: 500px;
        display: flex;
        align-items: center;
        padding: 20px 0px;

        .brand-logo-box {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .brand-logo {
                width: 20%;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    max-width: 100px;
                }
            }

        }
    }

    #footer-tabs {
        width: 100%;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;

        h4 {
            margin-bottom: 15px;
            font-size: 22px;
            font-weight: 600;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 7px;

            li {
                opacity: 0.8;
                font-size: 17px;
            }
        }

        .subscribe-btns {
            input {
                border: 0;
                outline: 0;
                font-size: 15px;
            }

            button {
                background-color: #FF0359;
                border: 0;
                padding: 5px 15px;
                color: white;

            }
        }
    }
}


footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: start;

    span {
        opacity: 0.8;
    }
}

#basket-section {

    #bsk__container,
    #wish__container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .box__item {
            width: 100%;
            max-width: 250px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background-color: #fff8f8;
            position: relative;


            img {
                width: 100%;
                max-width: 250px;
                height: 250px;
            }

            button {
                color: #000000;
                background: #f14f85;
                border: 0;
                padding: 5px 10px;
                font-weight: 500;
            }

            i {
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 25px;
                color: rgb(255, 114, 114);
                cursor: pointer;

                &:hover {
                    color: #ff0303;
                }

            }


        }
    }


}





@media screen and (min-width:1200px) {
    main {
        #welcome {
            .welcome-text {
                width: 100%;

                h1 {
                    font-size: 66px;
                }
            }
        }

    }

}

@media screen and (max-width:992px) {
    header {
        .mycontainer {
            #hamburger {
                display: block;
            }

            nav {
                display: none;
            }
        }
    }

    main {
        #welcome {
            img {
                display: none;
            }

            .welcome-text {
                width: 100%;

                h1 {
                    font-size: 35px !important;
                }
            }
        }

        #best-sellers {
            .best-sellers-text {
                h2 {
                    font-size: 25px;
                }
            }
        }

        #subscribe {
            .subscribe-text {
                h2 {
                    font-size: 25px !important;
                }
            }

            .subscribe-btns {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 80% !important;
                }
            }
        }

    }
}

@media screen and (max-width:600px) {
    .brand-logo-box {
        flex-direction: column !important;
        width: 100%;
        gap: 10px;

        .brand-logo {
            width: 100% !important;
            max-width: 120px !important;
        }
    }

    footer {
        span {
            opacity: 0.8;
            font-size: 12px !important;
        }
    }

}